.model-container {
  margin: auto 0;
  background: linear-gradient(0deg, #aed2ff, #b3eaff);

  .model {
    width: 1024px;
    margin: 128px auto;
    
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}