.model-container {
  margin: auto 0;
  background: white;

  .model {
    width: 1024px;
    margin: 128px auto;
    
    canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
}