.top-nav {
  padding: 0 48px;
  height: 90px;
  background-color: #30302f;
  display: flex;
  width: calc(100% - 96px);
}

.container_left {
  display: flex;
  margin-right: auto;
  height: auto;
  margin: auto 0;
  display: flex;
  margin-right: auto;
}

.container_right {
  display: flex;
  margin-right: auto;
  height: auto;
  margin: auto 0;
  display: flex;

  a {
    margin-left: 24px;
  }
}
