.top-nav {
  padding: 0 48px;
  height: 140px;
  background-color: #30302f;
  display: flex;
  width: calc(100% - 96px);
}

.container_left {
  display: flex;
  margin-right: auto;
  height: auto;
  margin: auto 10vw;
  display: flex;
  margin-right: auto;
}

.container_right {
  display: flex;
  margin-right: auto;
  height: auto;
  margin: auto 10vw;
  display: flex;

  a {
    margin-left: 24px;
    transition: all 0.5s;

    &.selected {
      color: white;
    }
  }
}
