.image-single-container {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  background-color: #30302f;
  padding: 10vh 0;

  img {
    max-height: 75vh;
    width: auto;
  }
}
