.image-container {
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  display: flex;

  img {
    height: auto;
    width: 100vw;
    margin: auto;
    transition: 400ms cubic-bezier(.33,0,.2,1);
  }

  &:hover {
    img{
      filter: brightness(90%) saturate(90%) contrast(120%);
    }
  }
}

.title-container {
  display: flex;
  height: auto;
  color: white;
  font-size:25px;
  position: relative;
  padding-left: 10%;
  top: -150px;
}

.title-container-split {
  display: flex;
  width: 0;
  position: relative;
  left: -40%;
  color: red;
  font-size:25px;
}

.image-container-split {
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: auto;
  justify-content: center;
  display: flex;

  .image-container {
    width: 50%;
  }
}

.description-container {
  min-height: 80vh;
  width: 100%;
  background-color: var(--color-background);
  display: flex;

  .description {
    margin: auto;
    max-width: 800px;
  }
}