.behind-top-nav {
  height: 6vw;
  background-color: #30302f;
}

@media (min-width: 1599px) {
.behind-top-nav {
height: 4vw;
}
}

@media (min-width: 1799px) {
  .behind-top-nav {
  height: 3vw;
  }
  }

@media (min-width: 1921px) {
  .behind-top-nav {
  height: 2vw;
  }
  }