@import "./app/hza5eee.scss";

:root {
  --color-background: #FFF;
  --color-link: yellow;
  --color-text: black;
  --color-topnav: #000000a8;
}

body {
  margin: 0;
  font-family: din-2014,sans-serif;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


