@import "./app/hza5eee.scss";

:root {
  --color-background: #FFF;
  --color-link: #BBB;
  --color-text: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: din-2014;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: .02em;
    text-rendering: optimizeLegibility;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: all 0.5s;

  &:hover {
    color: #FFF;
  }
}