.top-nav {
  padding: 0 48px;
  height: 120px;
  background-color: #30302fde;
  display: flex;
  position: fixed;
  width: calc(100% - 96px);
  z-index: 10;
  top: 0px;
  transition: all 0.25s;
}

.top-nav-container_left {
  display: flex;
  margin-right: auto;
  height: auto;
  margin: auto 10vw;
  display: flex;
  margin-right: auto;
}

.top-nav-container_right {
  display: flex;
  margin-right: auto;
  height: auto;
  margin: auto 10vw;
  display: flex;

  a {
    margin-left: 24px;
    transition: all 400ms cubic-bezier(.33,0,.2,1);

    &.selected {
      color: white;
    }
  }
}
