.footer {
  padding: 45px 48px 0 48px;
  height: 180px;
  background-color: #30302f;
  display: flex;
  flex-direction: row;
  width: calc(100% - 96px);
}

.footer-container_left {
  display: flex;
  height: auto;
  margin: auto auto auto 10vw;
  display: flex;
  span {
    color: #ccc;
    font-size: 18px;
  }
  p {
    color: #ccc;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: .02em;
    text-rendering: optimizeLegibility;
  }
}

.footer-container_right {
  display: flex;
  height: auto;
  margin: auto 10vw auto auto;
  display: flex;

  a {
    margin-left: 24px;
  }

  img {
    width: 50px;
    height: 50px;
    transition: all 400ms cubic-bezier(.33,0,.2,1);

    &:hover {
        filter: brightness(150%);
      }
    }
}

@media (max-width: 800px) {
    .footer{
      padding: 20px 0 20px 10vw;
      height: auto;
      width: auto;
      background-color: #30302f;
      display: flex;
      flex-direction: column;
    }
    .footer-container_left {
      margin: 0;
      display: block;
    }
    .footer-container_right {
      margin: 0;
      display: block;
      a {
        margin-left: 0;
        margin-right: 24px;
      }
    }
}